<%= form_for(@notification, :url=>params[:action] == 'edit' ? notification_path(@notification) : notifications_path) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :errors_nb %><br />
    <%= f.text_field :errors_nb %>
  </div>
  <div class="field">
    <%= f.label :alert %><br />
    <%= f.text_area :alert, :rows=>5 %>
  </div>  
  <div class="field">
    <%= f.label :device_language %><br />
    <%= f.text_field :device_language %>
  </div>
  <div class="field">
    <%= f.label :sound %><br />
    <%= f.text_field :sound %>
  </div>
  <div class="field">
    <%= f.label :badge %><br />
    <%= f.text_field :badge %>
  </div>
  <div class="field">
    <%= f.label :custom_properties %><br />
    <%= f.text_area :custom_properties, :rows=>2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
