<%= form_for(@app, :url=>params[:action] == 'edit' ? app_path(@app) : apps_path) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apn_dev_cert %><br />
    <%= f.text_field :apn_dev_cert %>
  </div>
  <div class="field">
    <%= f.label :apn_prod_cert %><br />
    <%= f.text_field :apn_prod_cert %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
