<h1>Listing apps</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Apn dev cert</th>
    <th>Apn prod cert</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <td><%= app.id %></td>
    <td><%= !app.apn_dev_cert.blank? %></td>
    <td><%= !app.apn_prod_cert.blank? %></td>
    <td><%= link_to 'Show', app_path(app) %></td>
    <td><%= link_to 'Edit', edit_app_path(app) %></td>
    <td><%= link_to 'Destroy', app_path(app), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New App', new_app_path %>
